@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 h-screen w-screen overflow-hidden p-0;
  font-family: 'Quicksand', sans-serif;
  /* background-color: #353535;
  color: #ebebeb; */
}

#__next {
  @apply h-full w-full;
}

.button-navbar {
 transition: all .2s; 
}
.button-navbar:hover {
  border-bottom: solid;
}

.btn-active-navbar {
  border-bottom: solid;
}

.text-white {
  color: #ffd700;
}

.card-description {
  max-height: 4rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-create {
  transition: all .5s;
}

.btn-create:hover {
  color: #353535;
  background-color: #ffd700;
}

.btn-sell {
  border-radius: 0.75rem;
  transition: all .5s;
}

.btn-sell:hover {
  color: #353535;
  background-color: #ffd700;
}

.moeda-text {
  margin-top: 32px;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
}

.moeda-input {
  padding-left: 16px;
  margin: 30px 0;
  width: 500px;
  outline: none;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 19px;
  border-color: black;
  background-color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.his-transaction-text {
  margin-top: 32px;
  text-align: center;
  font-weight: 600;
  color: #353535;
}

.his-transaction-input {
  padding-left: 16px;
  margin: 30px;
  width: 250px;
  outline: none;
  height: 30px;
  border: 2px solid transparent;
  border-radius: 5px;
  border-color: #353535;
  background-color: #fff;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}

.text-address {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 2s;
}
.text-address:hover {
  word-wrap: break-word;
  white-space: normal;
}

.text-input {
  border: 1.5px solid #353535;
}